{% extends 'portfolio_web/components/base.html' %}
{% load static %}
{% block content %}
<div class="experience-page">
    <section>
        <h2>EXPERIENCES</h2>
        <p>Here's my working experiences</p>
    </section>
    <article>
        <div class="experienses">
            {% for experience in experiences %}
            <section>
                <div class="experience-card">
                    <div class="experience-card-header">
                        <div class="experience-card-header-content">
                            <img src="{{ experience.image.url }}" alt="experience" height="38px">
                            <h3>{{ experience.title }}</h3>
                            <h4>{{ experience.position }}</h4>
                        </div>
                        <hr>
                    </div>
                    <div class="experience-card-content">
                        <h4>{{ experience.position }}</h4>
                        {{ experience.content|safe }}
                    </div>
                    <div class="experience-card-footer">
                        {{ experience.date }} &nbsp;&nbsp;<b>|</b>&nbsp;&nbsp; {{ experience.location }}
                    </div>
                </div>
            </section>
            {% endfor %}
        </div>
    </article>
</div>
{% endblock content %}