@mixin main-block($background-color, $width, $ptop, $pright, $pbottom, $pleft, $left, $color: black) {
    position: absolute;
    display: block;
    left: $left;
    height: $max-height;
    width: $width;
    padding: $ptop $pright $pbottom $pleft;
    background-color: $background-color;
    color: $color;
}