{% load static %}
<!doctype html>
<html lang="en">

<head>
    {% if analyticsId %}
    {% include "portfolio_web/headElements/googleAnalytics.html" with analyticsId=analyticsId %}
    {% endif %}

    {% include "portfolio_web/headElements/metaTags.html" %}

    {% block stylesheet %}{% endblock %}

    {% include "portfolio_web/headElements/linkTags.html" %}

    {% if page_title %}
    <title>{{ name }} - {{ page_title }}</title>
    {% else %}
    <title>{{ name }}</title>
    {% endif %}
</head>

<body>
    <aside>
        <div class="sitebar">
            <div class="sitebar-inner" id="sitebar-inner">
                <div class="block">
                    <a class="person" href="{% url 'portfolio-web-project' %}">
                        {% if avatar != '' %}
                        <div class="person-photo">
                            <img src="{{ avatar.url }}" alt="avatar" />
                        </div>
                        {% endif %}
                        <div class="person-content">
                            <h1>{{ name }}</h1>
                            <h2>{{ title }}</h2>
                        </div>
                    </a>
                </div>
                <nav class="block navigation-block">
                    <div class="navigation-sidebar" id="navigation-sidebar">
                        {% include "portfolio_web/components/navList.html" %}
                    </div>
                </nav>
                <div class="block social-block">
                    {% include "portfolio_web/components/social.html" %}
                </div>
            </div>
        </div>
        {% include "portfolio_web/components/header.html" %}
    </aside>

    <main>
        <div class="content-wrapper">
            <section>
                <h2>{{ header }}</h2>
                <p><b>{{ header_paragraph }}</b></p>
            </section>
            {% block content %}{% endblock %}
        </div>
    </main>
    
    {% include "portfolio_web/components/scripts.html" %}
</body>

</html>