<header>
    <div class="sidebar-top">
        <div class="sidebar-bg" onclick="handleOnClick();" id="sidebar-bg">
            <i id="sidebar-bg-icon" class="fas fa-bars"></i>
        </div>
        <div class="sidebar-title">
            <h1>Jiacheng Zhang</h1>
            <h2>Software Developer</h2>
        </div>
    </div>
    <nav>
        <div class="sidebar-dropdown" id="sidebar-dropdown">
            {% include "portfolio_web/components/navList.html" %}
        </div>
    </nav>
</header>