<ul>
    <li>
        <a href="{% url 'portfolio-web-project' %}" class="btn-nav {% if request.path == '/' %}btn-nav-active{% endif %}">
            PORTFOLIO
        </a>
    </li>
    <li>
        <a href=" {% url 'portfolio-web-experience' %}" class="btn-nav {% if request.path == '/experience/' %}btn-nav-active{% endif %}">
            EXPERIENCE
        </a>
    </li>
    <li>
        <a href=" {% url 'portfolio-web-education' %}" class="btn-nav {% if request.path == '/education/' %}btn-nav-active{% endif %}">
            EDUCATION
        </a>
    </li>
    <li>
        <a href=" {% url 'portfolio-web-contact' %}" class="btn-nav {% if request.path == '/contact/' %}btn-nav-active{% endif %}">
            CONTACT ME
        </a>
    </li>
    <li>
        <a href="{{ resume_link }}" target="_blank" class="btn-nav">RESUME</a>
    </li>
</ul>