.contact-page {
    
}

.contact-page h1 {
    font-size: 36px;
}

.contact-page p {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 40px;
}

.contact-detail {
    margin-top: 16px;
}

.contact-detail span {
    display: inline-block;
    width: 130px;
}

.contact-detail a {
    display: inline-block;
    text-decoration: none;
    width: 278px;
    color: #4169e1e1;
}

.contact-detail a:hover{
    color: #4169e1;
}