.sitebar {
    position: fixed;
    display: block;
    left: 0;
    height: $max-height;
    width: $sidebar-width;
    padding: 10px 10px 10px 10px;
    background-color: $sidebar-color;
    color: $text-color;
    max-width: $sidebar-max-width;

    .sitebar-inner {
        margin-top: 45px;

        & > div, nav{
            margin-bottom: 80px;
        }

        ul, .social-block{
            list-style: none;
            margin: 0;
            padding: 0;
            margin-left: 38px;

            li {
                margin-bottom: 16px;
            }
        }

        .social-block-content {
            a {
                margin-right: 8px;
            }
        }
    }

    .person {
        text-align: center;
        text-decoration: none;
        color: white;

        img {
            width: 152px;
            height: 152px;
            border-radius: 50%;
        }

        h1 {
            font-size: 28px;
        }

        h2 {
            font-size: 22px;
            font-weight: 100;
        }
    }

    .social-block {
        font-size: 14px;
    }

    .social-block-content {
        margin-top: 8px;
    }

    @media (max-width: 1000px) {
        display: none;
    }
}

header {
    display: none;
    z-index: 100;
    @media (max-width: 1000px) {
        position: fixed;
        display: block;
        width: 100vw;
        top: 0;
        .sidebar-top {
            background-color: $sidebar-color;
            height: $sidebar-top-height;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .sidebar-dropdown {
            display: none;
            background: $sidebar-color;
            color: white;
            text-align: center;
            margin-bottom: -15px;
    
            ul {
                padding: 0;
        
                li {
                    list-style: none;
                    padding: 10px;
        
                    a {
                        text-decoration: none;
                        color: white;
                    }
                }
            }
        }

        .sidebar-title {
            color: white;
            text-align: center;
            text-decoration: none;
        }

        h1 {
            font-size: 24px;
            margin-bottom: 1px;
        }

        h2 {
            font-size: 16px;
            font-weight: 200;
            margin-bottom: 2px;
        }

        .sidebar-bg {
            margin-right: 20px;
            position: absolute;
            right: 0;
            font-size: 25px;
            color: $text-color;

            &:hover { 
                cursor: pointer;
            }
        }
    }
    .show {
        display: block !important;
    }
}

.header-hidden {
    display: none !important;
}