@import 'variables';
@import 'buttons';

body {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    background: $main-page-color;

    @import 'navigation';

    .content-wrapper {
        position: absolute;
        right: 0;
        left: $sidebar-max-width;
        padding: 20px 20px 20px 30px;
        height: $max-height;
        overflow-y: auto;

        @media (max-width: 1300px) {
            left: $sidebar-width;
        }
    
        @media (max-width: 1000px) {
            position: relative;
            left: 0px;
            width: 96vw;
            padding: 20px 0 0 4vw;
            overflow-y: initial;
        }
    }
}




