@import 'variables';
@import 'buttons';

body {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    background-image: url('/static/img/background.jpeg');
    background-color: $main-page-color;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

    @import 'navigation';

    .content-wrapper {
        background: $main-page-color;
        display: block;
        position: absolute;
        right: 0;
        left: $sidebar-max-width;
        padding: 20px 20px 20px 30px;
        min-height: 100vh;
        min-width: 100vw - $sidebar-width;
        overflow-y: auto;
        z-index: -100;

        @media (max-width: 1300px) {
            left: $sidebar-width;
        }
    
        @media (max-width: 1000px) {
            position: relative;
            left: 0px;
            width: 96vw;
            padding: 20px 4vw 20px 4vw;
            overflow-y: initial;
            min-width: 100vw;
        }
    }
}




