.degree {
    font-family: 'Fira Code', monospace;
    font-size: 16px;
}

.degree h4 {
    text-align: center;
}

.degree-header {
    margin-bottom: 10px;
}

.degree-type {
    font-weight: 700;
}

.degree-details {
    /* margin-left: 18px; */
    width: 110%;
}

.degree-major-minor {
    margin-left: 10px;
    font-style: italic;
    font-size: 15px;
}

.degree-period {
    font-size: 14px;
    font-style: italic;
    font-weight: 300;
}
