<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<!-- Open Graph data -->
<meta property="og:locale" content="en_US" />
<meta property="og:type" content="website" />
<meta property="og:title" content="Jiacheng Zhang" />
<meta property="og:url" content="jzhangdeveloper.com" />
<meta property="og:description"
    content="A portfolio website for Jiacheng Zhang, a software developer and a graduate student at the University of Arizona studying Computer Science." />

<meta property="article:publisher" content="jzhangdeveloper.com" />
<meta name="author" content="Jiacheng Zhang" />
<meta name="description"
    content="A portfolio website for Jiacheng Zhang, a software developer and a graduate student at the University of Arizona studying Computer Science." />

<meta name="robots" content="index, follow" />