<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<!-- Open Graph data -->
<meta property="og:locale" content="en_US" />
<meta property="og:type" content="{{ type }}" />
<meta property="og:title" content="{{ name }}" />
<meta property="og:url" content="{{ url }}" />
<meta property="og:description"
    content="{{ description }}" />

<meta property="article:publisher" content="{{ url }}" />
<meta name="author" content="{{ name }}" />
<meta name="description"
    content="{{ description }}" />

<meta name="robots" content="index, follow" />