{% extends 'portfolio_web/base.html' %}

{% block content %}
<section>
    <div class="contact-page">
        <h1>CONTACT ME</h1>
        <p>I am seeking programming Intership and open to any ideas of cooperation.</p>
        <div class="contact-detail">
            <span>E-mail: </span>
            <a href="" target="_blank">
                <i class="fas fa-envelope"></i>
                jiachengzhang1@email.arizona.edu
            </a>
        </div>
        <div class="contact-detail">
            <span>GitHub: </span>
            <a href="" target="_blank">
                <i class="fab fa-github"></i>
                jiachengzhang1
            </a>
        </div>
        <div class="contact-detail">
            <span>LinkedIn: </span>
            <a href="" target="_blank">
                <i class="fab fa-linkedin-in"></i>
                jiachengzhang-developer
            </a>
        </div>
    </div>
</section>
{% endblock content %}