{% extends 'portfolio_web/base.html' %}

{% block content %}
<div class="education-page">
    <section>
        <h2>Education</h2>
        <p>I am currently a graduate student studying Computer Science at the University of Arizona.</p>
    </section>
    <article>
        <div class="educations">
            {% for education in educations %}
            <section>
                <div class="education-card">
                    <div class="education-card-title">
                        <h6>{{ education.degree }}</h6>
                        <div class="education-date">
                            {{ education.period }}
                        </div>
                    </div>
                    <div class="education-card-content">
                        {{ education.content|safe }}
                    </div>
                    <div class="education-card-footer">
                        {{ education.institution }}, {{ education.city }}, {{ education.state }}
                    </div>
                </div>
            </section>
            {% endfor %}
        </div>
    </article>
</div>
{% endblock content %}