{% extends 'portfolio_web/base.html' %}
{% load static %}
{% block content %}
<section>
    <div class="experience-page">
        <h1>EXPERIENCES</h1>
        <p>Here's my working experiences</p>
        <div class="experienses">
            {% for experience in experiences %}
            <div class="experience-card">
                <div class="experience-card-header">
                    <div class="experience-card-header-content">
                        <img src="{{ experience.image.url }}" alt="job-logo" height="38px">
                        <h3>{{ experience.title }}</h3>
                        <h4>{{ experience.position }}</h4>
                    </div>
                    <hr>
                </div>
                <div class="experience-card-content">
                    <h4>{{ experience.position }}</h4>
                    {{ experience.content|safe }}
                </div>
                <div class="experience-card-footer">
                    {{ experience.date }}
                    {{ experience.location }}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock content %}