{% extends 'portfolio_web/base.html' %}

{% block content %}
<section>
    <div class="portfolio-page">
        <h1>PORTFOLIO</h1>
        <p>All front-end and back-end parts were completely done by me.</p>
        <div class="portfolio-content">
            {% for project in projects %}
            <div class="project">
                <div class="project-date">
                    <span>{{ project.date }}</span>
                </div>
                <div class="project-content">
                    <div class="text-content {% if project.image %}half{% endif %}">
                        <h3>{{ project.title }}</h3>
                        <h5>{{ project.subtitle }}</h5>
                        {{ project.content|safe }}
                        <div class="project-links">
                            <a class="project-demo" href="#">Demo</a>
                            <a class="project-code" href="#">Code</a>
                        </div>
                        <div class="project-technologies">
                            <h5>TECHNOLOGIES</h5>
                            {% for technology in project.technologies %}
                            <a href="{{ technology.link }}" target="_blank">{{technology.name}}</a>
                            {% endfor %}
                        </div>
                    </div>
                    {% if project.image %}
                    <div class="img-content">
                        <div class="project-image">
                            <img class="img-fluid" src="{{ project.image.url }}">
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock content %}